*{box-sizing: border-box}
html, body, #root{height: 100%}
body{margin: 0}
#root{
    overflow: auto;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, p, a{
    margin: 0;
    font: inherit;
    color: inherit;
    text-decoration: none;
}

/* ************************* */

.Gutters{
    padding-left: 10%;
    padding-right: 10%;
}
.LogoHeight{height: 4rem}
.JumbotronHeight{min-height: 700px}
.SectionSpacing{height: 8rem}

.CtaButtonsGapPositive{margin: 25px}
.CtaButtonsGapNegative{margin: -25px}
.CtaButtonsDirection{flex-direction: row}

.WhatsNewGapPositive{margin: 50px}
.WhatsNewGapNegative{margin: -50px}
.WhatsNewItemWidth{width: calc(33% - 100px)}
.WhatsNewDirection{flex-direction: row}

.CoursesGapPositive{margin: 25px}
.CoursesGapNegative{margin: -25px}
.CoursesDirection{flex-direction: row}

.StaffGapPositive{margin: 25px}
.StaffGapNegative{margin: -25px}
.StaffDirection{flex-direction: row}

/* If used *inside* a flexbox child (not *on* it), must set min-width: 0 on the flexbox child itself */
.Ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.MultiLineEllipsis{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.MultiLineEllipsis8{-webkit-line-clamp: 8}

.ZoomOnHoverChild{transition: transform .15s}
.ZoomOnHoverChild:hover{transform: scale(1.1)}
.ZoomOnHoverParent{overflow: hidden}

.FadeIn{
    opacity: 0;
    transition: opacity .3s;
}
.FadeInRight{
    opacity: 0;
    transform: translateX(100px);
    transition: opacity .3s, transform .3s;
}
.FadeInTrigger{
    opacity: 1;
    transform: translateX(0);
}

.NavLineSpacing{padding-bottom: 5px}
.NavItemSpacing{margin-right: 2rem}
.NavLine{
    height: 5px;
    transform: scaleX(0);
    transition: transform .15s;
}
.NavParent:hover .NavLine, .NavLineOn{
    transform: scaleX(1);
}

.ButtonChild{
    transition: transform .15s;
}
.ButtonParent:hover .ButtonChild{
    box-shadow: 5px 10px 10px 0 black;
    transform: translateY(-5px);
}
.ButtonParent .ButtonChild:active{
    box-shadow: 5px 5px 10px 0 black;
    transform: translateY(0);
    transition: transform 0s;
}

.YouTubeEmbedParent{
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: 0;
}
.YouTubeEmbedChild{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* ************************* */

.ff1{font-family: sans-serif}

.fs1{font-size: 1.1rem}
.fs2{font-size: 1.3rem}
.fs3{font-size: 1.8rem}
.fs4{font-size: 2.5rem}

.c1{color: black}
.c2{color: white}

.cWhatsNewBlog{color: #27ae60}
.cWhatsNewVideo{color: #f1c40f}
.cWhatsNewItem{color: #d35400}
.cWhatsNewClass{color: #8e44ad}
.cWhatsNewDive{color: #3498db}

.bg1{background-color: black}
.bg2{background-color: white}
.bg3{background-color: #f5f5f5}
.bg4{background-color: #de3c4b}

.bg1Light{background-color: rgba(0,0,0,.75)}

.bgTransparent{background-color: transparent}

.bgWhatsNewBlog{background-color: #27ae60}
.bgWhatsNewVideo{background-color: #f1c40f}
.bgWhatsNewItem{background-color: #d35400}
.bgWhatsNewClass{background-color: #8e44ad}
.bgWhatsNewDive{background-color: #3498db}

.bsWhatsNewBlog{box-shadow: 0 0 1rem .5rem #27ae60}
.bsWhatsNewVideo{box-shadow: 0 0 1rem .5rem #f1c40f}
.bsWhatsNewItem{box-shadow: 0 0 1rem .5rem #d35400}
.bsWhatsNewClass{box-shadow: 0 0 1rem .5rem #8e44ad}
.bsWhatsNewDive{box-shadow: 0 0 1rem .5rem #3498db}

.bs1{box-shadow: 0 0 1rem .1rem black}
.bs2{box-shadow: 0 0 1rem .5rem #de3c4b}

.b1{border: 2px solid #de3c4b}

.br1{border-radius: .5rem}

.p1{padding: 1rem}
.pt1{padding-top: 1rem}
.pb1{padding-bottom: 1rem}
.p2{padding: 3rem}
.pt2{padding-top: 3rem}
.pb2{padding-bottom: 3rem}
.pt3{padding-top: 5rem}
.pb3{padding-bottom: 5rem}
.p4{padding: 12rem}
.pbFull{padding-bottom: 100%}

.mAuto{margin: auto}

.w1{width: 75%}
.wFull{width: 100%}
.mwFull{max-width: 100%}
.mwNone{min-width: 0}

.hFull{height: 100%}
.mhFull{min-height: 100%}

.fwBold{font-weight: bold}

.fStyleItalic{font-style: italic}

.taJustify{text-align: justify}
.taCenter{text-align: center}
.taRight{text-align: right}

.bgSizeCover{background-size: cover}
.bgPositionCenter{background-position: center}

.dBlock{display: block}
.dInlineBlock{display: inline-block}
.dFlex{display: flex}

.fdColumn{flex-direction: column}
.flexWrapWrap{flex-wrap: wrap}
.flex1{flex: 1}

.aiCenter{align-items: center}

.jcCenter{justify-content: center}