@media only screen and (max-width: 1200px){
    .Gutters{
        padding-left: 5%;
        padding-right: 5%;
    }

    .NavLogoHeight{height: 3rem}

    .CtaDisplay{display: block}

    .WhatsNewGapPositive{margin: 25px}
    .WhatsNewGapNegative{margin: -25px}
    .WhatsNewItemWidth{width: calc(50% - 50px)}

    .StaffItemWidth{width: 60%}
    .StaffDirection{flex-direction: column}

    /* ************************* */

    .fs2{font-size: 1.2rem}
    .fs3{font-size: 1.4rem}
    .fs4{font-size: 2.2rem}

    .w1{width: 90%}
}