@media only screen and (max-width: 900px){
    .NavHeight{height: 5rem}

    .NavDisplayLarge{display: none}
    .NavDisplaySmall{display: initial}

    .CtaButtonsGapPositive{margin: 10px}
    .CtaButtonsGapNegative{margin: -10px}
    .CtaButtonsDirection{flex-direction: column}

    .WhatsNewGapPositive{margin: 50px}
    .WhatsNewGapNegative{margin: -50px}
    .WhatsNewItemWidth{width: calc(100% - 100px)}

    .CoursesDirection{flex-direction: column}

    .StaffItemWidth{width: 80%}

    .FooterDirection{flex-direction: column}
    .FooterAlignItems{align-items: stretch}
    .FooterItemSpacing{padding-bottom: 1rem}
    .DisplayFirstFooterButton{display: none}
}