/* GLOBAL */
*{box-sizing: border-box}

html, body, #root{
    margin: 0;
    height: 100%;
    min-height: 100%;
}

h1, h2, h3, p, a{
    margin: 0;
    font: inherit;
    color: inherit;
    text-decoration: none;
}



/* VARIABLES */
.xGutters{padding: 0 10%}
.xLogoHeight{height: 4rem}
.xJumbotronHeight{min-height: 750px}
.xReducedWidth{width: 75%}

.xSectionPadding{padding: 3rem}
.xSectionPaddingSlim{padding: 1rem}
.xSectionSpacing{min-height: 8rem}

.xNavUnderlineHeight{height: 5px}
.xNavUnderlineSpacing{padding-bottom: 5px}
.xNavUnderlineTransition{transition: transform .15s ease}

.xCtaButtonGap{margin: 25px}
.xCtaButtonGapNegative{margin: -25px}
.xCtaButtonDirection{flex-direction: row}

.xButtonPadding{padding: 1rem}
.xButtonShadow_hover:hover{box-shadow: 5px 10px 10px 0 black}
.xButtonShadow_active:active{box-shadow: 5px 5px 10px 0 black}
.xButtonTransform_hover:hover{transform: translateY(-5px)}
.xButtonTransition{transition: transform .1s ease}



/* PALETTE */
.ff1{font-family: sans-serif}

.fs1{font-size: 1rem}
.fs2{font-size: 1.25rem}
.fs3{font-size: 1.5rem}
.fs4{font-size: 1.75rem}
.fs5{font-size: 2rem}
.fs6{font-size: 2.5rem}

.bg1{background-color: white}
.bg2{background-color: black}
.bg2Light{background-color: rgba(0,0,0,0.75)}
.bg3{background-color: #000c2b}
.bg4{background-color: #607bc1}
.bg5{background-color: #de3c4b}

.c1{color: white}
.c2{color: black}

.fwBold{font-weight: bold}

.pLeftNone{padding-left: 0}
.pRightNone{padding-right: 0}
.pBottom1{padding-bottom: 1.5rem}
.pRight1{padding-right: 1.5rem}
.pIframe{padding-bottom: 56.25%}

.mRight1{margin-right: 1.5rem}

.posRelative{position: relative}
.posAbsolute{position: absolute}

.top0{top: 0}

.left0{left: 0}

.br1{border-radius: 0.5rem}

.bs1{box-shadow: 0 0 1rem 0.1rem black}

.wFull{width: 100%}

.mwFull{max-width: 100%}

.mhFull{min-height: 100%}

.hNone{height: 0}
.hFull{height: 100%}

.transformScaleX0{transform: scaleX(0)}
.transformScaleX1Hover:hover .transformScaleX1Trigger, .transformScaleX1{transform: scaleX(1)}

.transitionTransformReset_active:active{transition: transform 0s}
.transformTranslateYReset_active:active{transform: translateY(0)}

.dInlineBlock{display: inline-block}
.dFlex{display: flex}

.fdColumn{flex-direction: column}

.flex1{flex: 1}

.mAuto{margin: auto}

.aiCenter{align-items: center}

.taCenter{text-align: center}



/* MEDIA QUERIES */
@media only screen and (max-width: 1200px){}

@media only screen and (max-width: 900px){}

@media only screen and (max-width: 600px){}