.hFull{height: 100%}
.mNone{margin: 0}
.ofAuto{overflow: auto}
.ffSansSerif{font-family: sans-serif}
.dFlex{display: flex}
.fdColumn{flex-direction: column}
.flex1{flex: 1}
.aiCenter{align-items: center}

.varGutters{padding: 0 10rem}
.varSectionPadding{padding: 2rem}
.varSectionPaddingSlim{padding: 1rem}
.varSectionSpacing{min-height: 3rem}
.varSectionRadius{border-radius: 0.5rem}
.varLogoHeight{height: 3.5rem}

.c1{color: white}
.c2{color: black}
.bg1{background-color: #192a56}
.bg2{background-color: white}
.bg3{background-color: black}
.bg4{background-color: #de3c4b}
