.varGutters{padding: 0 10rem}
.varSectionPadding{padding: 2rem}
.varSectionPaddingSlim{padding: 1rem}
.varSectionSpacing{min-height: 3rem}
.varSectionRadius{border-radius: 0.5rem}
.varLogoHeight{height: 3.5rem}
.varJumbotronHeight{min-height: 500px}
.varButton{padding: 1rem}
.varButton{border-radius: 0.5rem}
.varButton:hover{box-shadow: 5px 10px 10px 0 black}
.varButton:active{box-shadow: 5px 5px 10px 0 black}
.varButton:hover{transform: translateY(-5px)}
.varButton:active{transform: translateY(0)}

.c0{color: inherit}
.c1{color: white}
.c2{color: black}
.bg1{background-color: #192a56}
.bg2{background-color: white}
.bg3{background-color: black}
.bg4{background-color: #de3c4b}
.fs1{font-size: 1rem}
.fs2{font-size: 1.25rem}
.fs3{font-size: 1.5rem}
.fs4{font-size: 1.75rem}
.fs5{font-size: 2rem}
.fs6{font-size: 2.5rem}
.flex1{flex: 1}

.hFull{height: 100%}
.mNone{margin: 0}
.ofAuto{overflow: auto}
.ffSansSerif{font-family: sans-serif}
.dFlex{display: flex}
.fdColumn{flex-direction: column}
.aiCenter{align-items: center}
.tdNone{text-decoration: none}
.fwBold{font-weight: bold}
.taCenter{text-align: center}
.bNone{border: 0}
.cursorPointer{cursor: pointer}