*{box-sizing: border-box}
html, body, #root{height: 100%}
body{margin: 0}
#root{
    overflow: auto;
    scroll-behavior: smooth;
}

h1, h2, h3, p, a{
    margin: 0;
    font: inherit;
    color: inherit;
    text-decoration: none;
}

/* ************************* */

.Gutters{
    padding-left: 10%;
    padding-right: 10%;
}
.LogoHeight{height: 4rem}
.JumbotronHeight{min-height: 700px}
.SectionSpacing{height: 8rem}

.CtaButtonsGapPositive{margin: 25px}
.CtaButtonsGapNegative{margin: -25px}
.CtaButtonsDirection{flex-direction: row}

.CoursesGapPositive{margin: 0}
.CoursesGapNegative{margin: 0}
.CoursesDirection{flex-direction: row}

.ZoomOnHoverParent{overflow: hidden}
.ZoomOnHoverChild{transition: transform .15s}
.ZoomOnHoverChild:hover{transform: scale(1.1)}

.FadeIn{
    opacity: 0;
    transition: opacity .6s;
}
.FadeInTrigger{opacity: 1}

.NavLineSpacing{padding-bottom: 5px}
.NavItemSpacing{margin-right: 2rem}
.NavLine{
    height: 5px;
    transform: scaleX(0);
    transition: transform .15s;
}
.NavParent:hover .NavLine, .NavLineOn{
    transform: scaleX(1);
}

.ButtonChild{
    transition: transform .15s;
}
.ButtonParent:hover .ButtonChild{
    box-shadow: 5px 10px 10px 0 black;
    transform: translateY(-5px);
}
.ButtonParent .ButtonChild:active{
    box-shadow: 5px 5px 10px 0 black;
    transform: translateY(0);
    transition: transform 0s;
}

.YouTubeEmbedParent{
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: 0;
}
.YouTubeEmbedChild{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* ************************* */

.ff1{font-family: sans-serif}

.fs1{font-size: 1.1rem}
.fs2{font-size: 1.3rem}
.fs3{font-size: 1.8rem}
.fs4{font-size: 2.5rem}

.c1{color: white}
.c2{color: black}

.bg1{background-color: white}
.bg2{background-color: black}
.bg3{background-color: #000c2b}
.bg4{background-color: #de3c4b}

.bg2Light{background-color: rgba(0,0,0,.75)}

.bgNewBlog{background-color: #27ae60}
.bgNewVideo{background-color: #f1c40f}
.bgNewItem{background-color: #d35400}
.bgNewClass{background-color: #8e44ad}
.bgNewDiveDay{background-color: #3498db}

.bgTransparent{background-color: transparent}

.bs1{box-shadow: 0 0 1rem .5rem #088ac8}

.b1{border: 2px solid #de3c4b}

.br1{border-radius: .5rem}

.p1{padding: 1rem}
.pt1{padding-top: 1rem}
.pb1{padding-bottom: 1rem}
.p2{padding: 3rem}
.pt2{padding-top: 3rem}
.pb2{padding-bottom: 3rem}
.pb3{padding-bottom: 5rem}

.mAuto{margin: auto}

.w1{width: 75%}
.w2{width: 90%}
.mwFull{max-width: 100%}

.hFull{height: 100%}
.mhFull{min-height: 100%}

.fwBold{font-weight: bold}

.taJustify{text-align: justify}
.taCenter{text-align: center}
.taRight{text-align: right}

.bgSizeCover{background-size: cover}
.bgPositionCenter{background-position: center}

.dBlock{display: block}
.dInlineBlock{display: inline-block}
.dFlex{display: flex}

.fdColumn{flex-direction: column}

.flex1{flex: 1}

.aiCenter{align-items: center}

.jcCenter{justify-content: center}

/* ************************* */

@media only screen and (max-width: 1200px){}

@media only screen and (max-width: 900px){}

@media only screen and (max-width: 600px){}

@media (prefers-reduced-motion: reduce){}